@charset "UTF-8";
/* CSS Document */

body{
	background-color: black;
	text-align: center;
}
#navbar{
	width:1800px;
	background-color: #ceb362;
	height: 80px;
	margin: 0px;
}
#header{
	margin: 0px;
	height: 505px;
}
.navbutton{
	float:left;
	width:25%;
	text-align: center;
	font-size: 30px;
	color:white;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	height:80px;
}
.navbutton:hover{
	background-color: #515570;
}
.navbutton p {
	margin: 20px;
}
.poster{
	float: left;
}
.center{
	margin: 0 auto;
	width: 1801px;
	
}
.pic{
	float: left;
	margin-right: 20px;
}
.info{
	color: white;
	text-align: left;
}
.person{
	width: 1800px;
	height: 200px;
}
a{
	color: white;
}
h1{
	color: white;
}
p{
	color: white;
}
#privacy{
	margin-top: 70px;
	font-size: 8px;
}
iframe{
	width: 420px;
	height: 315px;
}
crit{
	text-align: left;
}